extends layout

block content
  h3.my-3 書籍を追加する
  form(method="post", action="/recommendations")
    div
      h5 カテゴリ名: #{cName}
      input(type="hidden" name="categoryId" value=categoryId)      
    div
      h5 書籍名
      input(type="text" name="bookName" required)#bookName.form-control
    div
      h5 おすすめのポイント
      textarea(name="introduction" required)#introduction.form-control
    button(type="submit").btn.btn-success 追加