extends layout

block content
  div.jumbotron.my-3
    h1.display-4 おすすめBookくん
    p.lead おすすめBookくんは、GitHubで認証できるプログラミングに関する書籍の情報交換サービスです
    if user
      div
        a(href="/recommendations/new").btn.btn-success 新規カテゴリで本を登録する
        - var hascategory = categories.length > 0
      if hascategory
        h3.my-3 カテゴリ一覧
        table.table.table-bordered
          tr
            th カテゴリ名
            th 作成日時
          each category in categories
            tr
              td
                a(href=`/recommendations/${category.categoryId}`) #{category.categoryName}
              td #{category.formattedUpdatedAt}