extends layout

block content
  h3.my-3 新しいカテゴリで書籍を登録する
  form(method="post", action="/recommendations")
    div
      h5 カテゴリ名
      input(type="text" name="categoryName" required)#categoryName.form-control
    div
      h5 書籍名
      input(type="text" name="bookName" required)#bookName.form-control
    div
      h5 書籍の紹介
      textarea(name="introducion" required)#introduction.form-control
    button(type="submit").btn.btn-success 登録